body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

.hidden {
  display: none;
}

#loadingScreen {
  font-size: 40px;
  margin-top: 20%;
}

#menu {
  margin-top: 15%;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

#gameCanvas {
  background: #0f1a0f;
  display: block;
  margin: 20px auto;
  border: 2px solid white;
}

#stats {
  width: 600px;
  margin: auto;
}

.bar {
  width: 100%;
  height: 20px;
  background: #333;
  margin-top: 5px;
}

#hpBar {
  height: 100%;
  width: 100%;
  background: red;
}

.exp {
  background: #222;
}

#expBar {
  height: 100%;
  width: 0%;
  background: cyan;
}
